package partials

templ AddItemForm() {
	<form
		method="POST"
		action="/items"
		hx-post="/items"
		hx-target="#no-items"
		hx-swap="beforebegin"
		class="inline"
	>
		<label class="flex items-center">
			<span class="">Add Item</span>
			<input
				type="text"
				name="description"
				class="ml-2 grow"
				aria-invalid="false"
        data-script="on keyup if the event's key is 'Enter' set my value to '' trigger keyup"
			/>
		</label>
	</form>
}
