package partials

import "github.com/c7/todo.c7.se/todo"

templ Item(item *todo.Item) {
  <div class="draggable">
    <form
      method="POST"
      action={ "/items/"+item.ID.String()+"/delete" }
      class="inline"
      role="group"
    >
      <button
        type="submit"
        hx-target="closest div"
        hx-swap="outerHTML"
        hx-delete={ "/items/"+item.ID.String() }
        class="right btn contrast"
      >
      ❌
      </button>
    </form>
    <form
      method="GET"
      action={ "/items/"+item.ID.String() }
      class=""
      role="group"
    >
      <button
        type="submit"
        hx-target="closest div"
        hx-swap="outerHTML"
        hx-get={ "/items/"+item.ID.String() }
        class="right btn outline secondary"
      >
      📝
      </button>
    </form>
    <form
      method="POST"
      action={ "/items/"+item.ID.String()+"/edit" }
      hx-target="closest div"
      hx-swap="outerHTML"
      class={ "inline", templ.KV("line-through", item.Completed) }
      role="group"
    >
      <input
        type="hidden"
        name="completed"
        if !item.Completed {
          value="true"
        } else {
          value="false"
        }
      />
      <input
        type="hidden"
        name="description"
        value={ item.Description }
      />
      <span hx-patch={ "/items/"+item.ID.String() }>
        { item.Description }
      </span>
    </form>
    <input type="hidden" name="id" value={ item.ID.String() } />
  </div>
}
