package pages

import (
	"github.com/c7/todo.c7.se/todo"
	"github.com/c7/todo.c7.se/templates/partials"
	"github.com/c7/todo.c7.se/templates/shared"
)

templ Home(list todo.List) {
	@shared.Page("Todo") {
		@partials.Search("")
		@partials.List(list)
		@partials.AddItemForm()
	}
}
