package pages

import (
	"github.com/c7/todo.c7.se/todo"
	"github.com/c7/todo.c7.se/templates/partials"
	"github.com/c7/todo.c7.se/templates/shared"
)

templ Item(item *todo.Item) {
	@shared.Page("Todo") {
		@partials.EditItemForm(item)
	}
}
