package pages

import (
	"github.com/c7/todo.c7.se/todo"
	"github.com/c7/todo.c7.se/templates/partials"
	"github.com/c7/todo.c7.se/templates/shared"
)

templ List(list todo.List, term string) {
	@shared.Page("List") {
		@partials.Search(term)
		@partials.AddItemForm()
		@partials.List(list)
	}
}
